.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: "Inter", sans-serif;
  color: #3f3631;
}
/* common styles */
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.w-90 {
  width: 90%;
}
.text-left {
  text-align: left;
}
.w-auto {
  width: auto !important;
}
.position-relative {
  position: relative;
  text-align: center;
}
.font-Poppins {
  font-family: "Poppins", sans-serif;
}
.font-12 {
  font-size: 12px;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.font-18 {
  font-size: 18px;
}
.font-weight-bold {
  font-weight: bold;
}
.font-weight-normal {
  font-weight: normal;
}
.border-radius-15 {
  border-radius: 15px !important;
}
.float-right {
  float: right;
}
.container-space {
  width: 90%;
  margin: auto;
}
.container-space-faq {
  width: 70%;
  margin: auto;
}
.bg-sesction2 {
  background-color: #fbfcfb;
}
.bg-dark {
  border-top: 6px solid transparent;
  border-image: linear-gradient(90deg, #8bf2b5 0%, #35c8eb 100%);
  border-image-slice: 1;
}
/* common styles */

/* responsive media query */
@media (max-width: 767px) {
  .carousel-inner {
    height: 300px !important;
  }
  .container-space {
    width: 90% !important;
    margin: auto;
  }
  .container-space-faq {
    width: 90% !important;
  }
  .sec1-space {
    padding: 25px !important;
  }
  .tick-book li {
    justify-content: start !important;
  }
  .mobile-textstart {
    text-align: start !important;
  }
  .carousel-item .slideImage {
    width: max-content;
    height: 280px !important;
    object-fit: contain;
    display: block;
  }
}
