$bgBlue: #134358;
$colorWhite: #ffffff;
$primary-grey: #27292d;
$primary-black: #3f3631;

.HeaderBackground {
  background-color: $bgBlue;
}

.color-white {
  color: $colorWhite !important;
}

.primary-color-grey {
  color: $primary-grey !important;
}

.primary-color-black {
  color: $primary-black !important;
}
